h1 {
    color: antiquewhite;
}

.cta {
    text-decoration: underline;
}
#logo {
    width: 150px;
    height: 100px;
}
body {
    margin: 0;
    font-family: Orbitron;
    text-align: center;
    color: #82a5ca;
}
#title {
    text-shadow: 0px 0px 4px black;
    font-weight: 900;
    color: #82a5ca;
}
.btn {  
    font-size: 15px;
    padding: 4px 12px;
    font-size: larger;
    border-radius: 6px;
    width: 90px;
    border: none;
    color: #82a5ca;
     
}
.hero-section {
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnh3NDA0ZGpoOXkwdWF0Z2VqMXZ1ZmF6MjMwM2UzdGgzcmVkZzc0cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/zMaCuiamKtuMM/giphy.gif");
    background-size: cover;
    padding: 80px;
}
